# Segmenting and Clustering Neighborhoods in Toronto
## Applied  Data Science Capstone - Week 3
*** 
### By: Josemar T. Migowski

Importing **pandas** library

In [1]:
import pandas as pd

Get Postal Codes Table from **Wikipedia** html page

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

**Obs:**

The function **read_html** from pandas returns a list of Dataframes Objects and is necessary get the primary Dataframe from this list

In [3]:
df_PostalCodes = df[0]

# print the shape from DataFrame

df_PostalCodes.shape

(288, 3)

Printing the firsts 12 lines from DataFrame

In [4]:
df_PostalCodes.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

Drop rows with **'Borough' = 'Not assigned'**

In [5]:
df_PostalCodes.drop(df_PostalCodes[df_PostalCodes['Borough'] == 'Not assigned'].index, inplace=True)

# print the new shape from DataFrame

df_PostalCodes.shape

(211, 3)

print head from Dataframe whitout rows with **'Borough' = 'Not assigned'**

In [6]:
df_PostalCodes.head(12)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens

### Combining neighborhoods with same PostCode

In [9]:
df_comb = df_PostalCodes.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
df_comb = df_comb.reset_index()
df_comb.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

### Searching Neighbourhood with value 'Not assigned'

In [13]:
df_comb[df_comb['Neighbourhood'] == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

### Replace value of Neighbourhood column by Borough column if Neighbourhood = 'Not assigned'

In [14]:
df_comb['Neighbourhood'].replace(
    to_replace='Not assigned',
    value=df_comb['Borough'],inplace=True)

df_comb[df_comb['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

Printing new shape from DataFrame

In [16]:
df_comb.shape

(103, 3)